$white: #ffffff;
$black: #000000;
$dot--width: 70%;
$dot--height: 70%;

$width: 30px;

td {
  border: 4px solid;
  padding: 0px;
  width: $width;
  height: $width;
  text-align: center;
}

table {
  border: 4px solid;
  padding: 4px;
  margin-bottom: 100px;
  background-color: #ffcc99;
}

* {
  box-sizing: border-box;
}
body {
  background-color: $white;
  font-size: 30px;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}

.dot {
  width: $dot--width;
  height: $dot--height;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot--white {
  background-color: $white;
}

.dot--black {
  background-color: $black;
}
